.footer {
  background-color: rgb(48, 45, 46);
  color: aliceblue;
  padding: 15px;

  .social-links .links {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;

    .link-item {
      border-radius: 30%;
      margin: 5px;
      font-size: 30px;
      transition: 0.3s ease-in-out;
      padding: 7px;
      padding-top: 0px;

      &:hover {
        background-color: #789dbc;
        transform: scale(1.02) translateY(-12px);
        cursor: pointer;
      }
    }
  }
}
